.contenedor_resenas{
    width: 100%;
    height: fit-content;
    min-width: 150px;
    min-height: 150px;
    background-color: var(--color_4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    border: var(--border_1);
    filter: var(--sombra_2);
}

.contenedor_resenas > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: var(--border_1);

    font-size: 20px;
}

.contenedor_resenas > div > :last-child{
    color: var(--color_6);
    font-size: 25px;
}

.contenedor_resenas > p{
    width: 100%;
    font-size: 20px;
}